/* Error: Undefined mixin.
 *     ,
 * 103 | /     @include laptop-and-more {
 * 104 | |         display: grid;
 * 105 | |         grid-template-columns: 1fr 1fr;
 * 106 | |         column-gap: 5%;
 * 107 | | 
 * 108 | |         .presentation {
 * 109 | |             grid-column: 1 / 2;
 * 110 | |         }
 * 111 | | 
 * 112 | |         .characteristics {
 * 113 | |             grid-column: 1 / 2;
 * 114 | |         }
 * 115 | | 
 * 116 | |         .qualitiesAndDefaults {
 * 117 | |             grid-column: 2 / 3;
 * 118 | |         }
 * 119 | | 
 * 120 | |         .hitLevel {
 * 121 | |             grid-column: 2 / 3;
 * 122 | |         }
 * 123 | | 
 * 124 | |         .powers {
 * 125 | |             grid-column: 1 / 2;
 * 126 | |         }
 * 127 | \     }
 *     '
 *   styles\sass\_base.scss 103:5  @import
 *   styles\sass\index.scss 4:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 103 \2502  \250c      @include laptop-and-more {\a 104 \2502  \2502          display: grid;\a 105 \2502  \2502          grid-template-columns: 1fr 1fr;\a 106 \2502  \2502          column-gap: 5%;\a 107 \2502  \2502  \a 108 \2502  \2502          .presentation {\a 109 \2502  \2502              grid-column: 1 / 2;\a 110 \2502  \2502          }\a 111 \2502  \2502  \a 112 \2502  \2502          .characteristics {\a 113 \2502  \2502              grid-column: 1 / 2;\a 114 \2502  \2502          }\a 115 \2502  \2502  \a 116 \2502  \2502          .qualitiesAndDefaults {\a 117 \2502  \2502              grid-column: 2 / 3;\a 118 \2502  \2502          }\a 119 \2502  \2502  \a 120 \2502  \2502          .hitLevel {\a 121 \2502  \2502              grid-column: 2 / 3;\a 122 \2502  \2502          }\a 123 \2502  \2502  \a 124 \2502  \2502          .powers {\a 125 \2502  \2502              grid-column: 1 / 2;\a 126 \2502  \2502          }\a 127 \2502  \2514      }\a     \2575 \a   styles\\sass\\_base.scss 103:5  @import\a   styles\\sass\\index.scss 4:9    root stylesheet";
}
