<section class="presentation">
    <div class="presentation__content">
        <h2>1. Présentation</h2>
        <div class="presentation__content__inputs">
            <div>
                <div class="couple-label-input">
                    <label for="type">Type</label>
                    <select name="type" id="type" [(ngModel)]="type" (change)="changeType($event)">
                        <option value="cat">Chat</option>
                        <option value="bastet">Bastet</option>
                        <option value="human">Humain</option>
                    </select>
                </div>
                <div class="couple-label-input">
                    <label for="name">Name</label>
                    <input type="text" id="name" />
                </div>
                <div class="couple-label-input">
                    <label for="age">Age</label>
                    <input type="number" id="age" />
                </div>
                <div class="couple-label-input">
                    <label for="breed">Race</label>
                    <select id="breed" [(ngModel)]="breed" (change)="changeBreed($event)">
                        <option value="">- -</option>
                        <option *ngFor="let breed of breeds$ | async" value="{{breed.name}}">
                            {{breed.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <div class="couple-label-input">
                    <label for="line">Lignée</label>
                    <input type="text" id="line" />
                </div>
                <div class="couple-label-input">
                    <label for="faction">Faction</label>
                    <select id="faction">
                        <option value="">- -</option>
                        <option *ngFor="let faction of factions$ | async" value="{{faction.name}}">
                            {{faction.name}}
                        </option>
                    </select>
                </div>
                <div class="couple-label-input">
                    <label for="faction">Réputation</label>
                    <span id="reputation">0</span>
                </div>
            </div>
        </div>
    </div>

</section>