// COLORS VARIABLES
$primary-color: #023047;
$secondary-color: #219EBC;
$background-color: #F6FBFF;

// FONT VARIABLES
$logo-font: 'Island Moments', cursive;
$primary-font: 'Inria Sans', sans-serif;

// MEDIA QUERIES VARIABLES
$breakpoints: (
    xsmall: 576px,
    small: 768px,
    medium: 992px,
    large: 1200px,
    xlarge: 1400px
); 