.qualitiesAndDefaults {
    @include except-mobile {
        display: flex;
        flex-direction: column;
        gap: 32px; 
    }

    @include mobile-only {
        select,
        option {
            height: 32px;
        }
    }

    ul {
        font-size: 18px;
        list-style: inside;
    }

    li {
        list-style-type: circle;

        li {
            list-style-type: square;
            padding: 8px 24px;
            font-weight: bold;
            display: flex;
            gap: 8px;
        }
    }
}

span.qualitySelected,
span.defaultSelected {
    opacity: 0;
}

.recapQualitiesAndDefaults {

    &--recapQualities,
    &--recapDefaults {
        font-style: italic;
        padding: 8px 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            font-size: 16px;
        }
    }

    &--recapQualities {
        color: rgb(18, 175, 18);
    }

    &--recapDefaults {
        color: rgb(219, 0, 0);
    }
}